.container{
    max-width: 1500px;
    margin: 0 auto;
}


body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  
//reset links
a{
    text-decoration: none;
    color: black;
    &:hover{
    color:#0C7CEC;
    border-bottom: 5px solid #0C7CEC;
    }
      
}
//utils
.blue{
    color: #0C7CEC;
}

//reset lists
ul{
    list-style-type: none;
}
    
  